.slick {
    width: 90%;
    margin-left: 5%;
    border-radius: 20px;
    margin-top: 3%;
}

.slick h1 {
    font-size: 2rem;
    font-weight: 600;
}

.slick h2 {
    font-size: 1.3rem;
    margin-bottom: 2%;
}

.slick img {
    height: 300px;
    width: 100%;
    border-radius: 20px;
}