.title{
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5%;
}

.knowmore{
    margin: 50px auto;
    width: 100%;
}

.knowmore img{
    width: 80%;
    height: 300px;
    margin-top: 1%;
    margin-left: 15%;
    border-radius: 20px;
}

.description {
    padding-left: 7%;
    font-size: 1.2rem;
}

.details{
    margin-top: 4%;
    margin-left: 7%;
    /* display: flex; */
    /* justify-content: space-between; */
}



.details h2{
    font-size: 1.3rem;
    margin-bottom: 1%;
}