.env
node_modules
coverage
coverage.json
typechain
preprocess

#Hardhat files
cache
artifacts

#misc
_info.md
deploy.js
deployAddressesLog.txt
hardhat.config.js
package.json
package-lock.json
run.js
tempCodeRunnerFile.js
tempCodeRunnerFile.mjs
temptest.js
temptest.mjs
HH-README.md
Lock.js

# Project specific
build/zk-files