.description {
  margin-top: 3%;
}

.mb-3 {
  margin-left: 3%;
  margin-right: 3%;
}

.calculation {
  border: 2px solid green;
  padding: 2.5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2.5%;
}
