.navbar {
    display: flex;
    justify-content: space-between;
    margin: 2% 3%;
    flex-wrap: wrap;
}


.title h1{
    font-size: 1.5rem;
    padding-top: 4px;
}

.options {
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}

.options h3 {
    font-size: 1.18rem;
    width: 115px;
    text-align: center;
    padding-top: 5px;
}

.connectBtn{
    margin-top: 0;
}